body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	background-color: #333333;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	height: 70px;
	background-color: #202020;
	z-index: 2;
}

#icon {
	padding: 10px;
	height: 50px;
    cursor: default;
    
    img{
        height: 100%;
    }
}

#contact-info a{
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 0.9em;
    margin-right: 20px;
    
    &:hover {
        border-bottom: 2px solid white;
    }
}

main {
	margin: 0;
	padding:0;
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 1000px){
	#contact-info{ display:none; }
	main{ flex-direction: column; }
}