@font-face {
	font-family: Staatliches;
	src: url('../fonts/Staatliches-Regular.ttf');
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	height: 70px;
	padding: 0 40px;
	background-color: black;
	color: white;
	z-index: 100;
}

#logo {
	height: 45px;
}

#nav {
	list-style-type: none;
	display: block;
		a { 
			display: inline;
			margin-left: 30px;
			padding: 5px;
			cursor: pointer;
			text-decoration: none; 
			color: white;
			transition: color 0.3s;
		}
}

#hamburger-icon { display: none; }

main {
	margin: 0;
	padding:0;
	display: flex;	
}

footer {
	background-color: #111;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	padding: 50px;

	.seperator {
		margin: 0 20px;
	}

	#footer-contact a {
		color: rgba(255, 255, 255, 0.7);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	button {
		display: inline;
		background-color: transparent;
		color: rgba(255, 255, 255, 0.7);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		padding: 5px 10px;
		border: 2px solid  rgba(255, 255, 255, 0.8);
		border-radius: 6px;
		transition: all 0.3s;
		&:hover {
			background-color: white;
			color: black;
			cursor: pointer;
		}
	}

	hr {
		border-color: lightgrey;
		width: 25%;
	}

	#social-media {
		a{
			background-color: rgba(255, 255, 255, 0.8);
			color: black;
			text-decoration: none;
			padding: 8px;
			border-radius: 50%;
			width: 15px;
			height: 15px;
			margin: 5px 5px;
		}
	}
	
}

@media screen and (max-width: 1000px){
	header {
		#nav { 
			display: none;
			position:absolute;
			top: 70px;
			left: 0;
			margin: 0;
			padding: 0;
			box-sizing: border-box; 
			background-color: #111;
			width: 100vw;
			text-align: center;
			a { display: block; }
		}
		#hamburger-icon { display: inline; }
	}
	main{ flex-direction: column; }
	#footer-contact {
		text-align: center;
		.seperator { display: none;	}
		span,a,button {
			display: block;
			margin: 12px auto;
		}
		
	}
}