.banner {
	display: none;
	background-color: #d4d4d4;
	font-family: 'Staatliches', cursive;
	font-size: 3em;
	color: #333;
	margin: 0;
	padding: 15px;
}

@media screen and (max-width: 1000px){
	.banner { display: block;} 
}
