.banner {
  display: none;
  background-color: #d4d4d4;
  font-family: 'Staatliches', cursive;
  font-size: 3em;
  color: #333;
  margin: 0;
  padding: 15px;
}

@media screen and (max-width: 1000px) {
  .banner {
    display: block;
  }
}

.color-start {
  background-color: slategray;
}

.color-intro {
  background-color: darkblue;
}

.color-skills {
  background-color: darkmagenta;
}

.color-cat {
  background-color: firebrick;
}

#slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

#labels {
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 30%;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  text-transform: uppercase;
}

#labels hr {
  width: 90%;
}

.btn {
  padding-bottom: 7px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  text-decoration: underline;
}

.rad {
  display: none;
}

.rad:checked + .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.slide {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 1.15em;
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide h1, .slide img, .slide p, .slide blockquote, .slide ul, .slide hr {
  -webkit-animation: fade-in 0.6s;
          animation: fade-in 0.6s;
}

.slide img {
  width: 200px;
  border: 5px solid white;
}

.slide hr {
  width: 50%;
  background-color: white;
  border: 2px solid white;
}

#lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#lists ul {
  list-style-type: disc;
  margin: 20px;
  text-align: left;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 775px) {
  #slideshow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #labels {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  #labels hr {
    display: none;
  }
  .slide {
    padding: 40px;
  }
  #lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=about.css.map */