@import 'banner';

$animation-duration: 0.6s;

.color-start {
	background-color: grey;
}

.color-intro {
	background-color: darkblue;
}

.color-skills {
	background-color: darkmagenta;
}

.color-cat {
	background-color: firebrick;
}

#slideshow {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: 40px;
	box-sizing: border-box;
	background-color:black;
}

#labels {
	display: flex;
	flex-direction: column;
	min-width: 30%;
	transition: background-color $animation-duration;
	text-transform: uppercase;
	hr{
		width: 90%;
	}
}



.btn {
	padding-bottom: 7px;
	color: white;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

.rad {
	display:none;
	&:checked + .slide{
		display: flex;
		opacity: 1;
	}
}

.slide {
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: center;
	opacity: 0;
	color: white;
	font-size: 1.15em;
	padding: 80px;
	box-sizing: border-box;

	h1, img, p, blockquote, ul, hr{
		animation: fade-in $animation-duration;
	}
	img{
		width: 200px;
		border: 5px solid white;
	}
	hr{
		width: 50%;
		background-color: white;
		border: 2px solid white;
	}
}

#lists{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	ul{
		list-style-type: disc;
		margin: 20px;
		text-align: left;
	}
}


@keyframes fade-in {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (max-width: 775px) {
	#slideshow {flex-direction: column;}
	#labels { 
		flex-direction: row; 
		justify-content: space-evenly;
		hr {
			display: none;
		}
	}
	.slide { padding: 40px;}
	#lists { flex-direction: column;}
}