.banner {
  display: inline-block;
  position: relative;
  font-family: 'Staatliches', cursive;
  font-size: 3em;
  color: teal;
  margin: 0;
  padding: 15px;
}

.banner::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 50%;
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 0px;
  width: 100%;
}

.banner::after {
  content: "";
  position: absolute;
  right: -100%;
  top: 50%;
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 0px;
  width: 100%;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-container a {
  text-align: center;
  color: white;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  text-decoration: none;
}

#contact-container a p {
  margin: 0 0 10px 0;
}

#contact-container a:hover {
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
  -webkit-box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.3);
}

#contact-container a:hover #phone {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: shake 0.13s;
          animation: shake 0.13s;
  -webkit-animation-delay: 0.175s;
          animation-delay: 0.175s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
}

#contact-container a:hover #email-top {
  transform-box: fill-box;
  -webkit-transform-origin: 50% 53.5%;
          transform-origin: 50% 53.5%;
  -webkit-animation: open-email 0.5s;
          animation: open-email 0.5s;
  -webkit-animation-delay: 0.175s;
          animation-delay: 0.175s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#contact-container a:active {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  100% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  100% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
}

@-webkit-keyframes open-email {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@keyframes open-email {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

.green {
  background-color: #01b516;
}

.red {
  background-color: #cc2a28;
}

.blue {
  background-color: #017ab3;
}

@media screen and (max-width: 775px) {
  #contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=contact.css.map */