@import 'banner';

$delay: 0.175s;
$green: rgb(1, 181, 22);
$red: rgb(204, 42, 40);
$blue: rgb(1, 122, 179);

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contact-container{
	display: flex;
	justify-content: center;
    
    a {
        text-align: center;
        color: white;
        margin: 20px;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
        transition: all 0.35s;
        text-decoration: none;
        p{
            margin: 0 0 10px 0;
        }
        &:hover {
            transform: translate(-5px, -5px);
            box-shadow: 10px 10px 5px 3px rgba(0,0,0,0.3);

            #phone {
                transform-box: fill-box;
                transform-origin: center;
                animation: shake 0.13s;
                animation-delay: $delay;
                animation-iteration-count: 5;
            }

            #email-top{
                transform-box: fill-box;
                transform-origin: 50% 53.5%;
                animation: open-email 0.5s;
                animation-delay: $delay;
                animation-fill-mode: forwards;
            }
        }

        &:active {
            -webkit-filter: brightness(110%);
            filter: brightness(110%);
        }
    }
}

@keyframes shake {
    0% { transform: rotateZ(0deg); }
    50% { transform: rotateZ(3deg); }
    100% { transform: rotateZ(-3deg); }
}

@keyframes open-email {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(180deg); }
}

.green { background-color: $green; }
.red{ background-color: $red; }
.blue{ background-color: $blue; }

@media screen and (max-width: 775px) {
	#contact-container { flex-direction: column; align-items: center;}
}