#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    width: 600px;

    label {
        margin: 10px;
        margin-right: 10px;
    }

    input,textarea{
        padding: 10px;
        margin-top: 5px;
        border-radius: 3px;
        border: 2px solid lightgrey;
        box-sizing: border-box;
        background-color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
    }
    
    textarea { height: 100px; }

    .row {
        display: flex;
        label {
            flex-grow: 1;
        }
    }   
}


.no-error {
    display: none;
    padding: 10px 20px;
    margin-top: 0;
}

.error-found {
    margin-top: 0;
    display: block;
    padding: 10px 20px;
    color: #7b3438;
    background-color: #f7d7da;
    border-left: 3px solid #7b3438;
}

.email-sent {
    margin-top: 0;
    display: block;
    padding: 10px 20px;
    color: #3c6c47;
    background-color: #d4edda;
    border-left: 3px solid #3c6c47;
}

.btn-submit {
    border: none;
    border-radius: 5px;
    background-color: #007aff;
    color: white;
    margin: 0 10px 10px 10px;
    padding: 10px;
    transition: background-color 0.175s;
    &:hover { background-color: #0062ca; }

    .loader {
        display: inline-block;
        border-radius: 50%;
        border: 3px solid grey;
        border-left: 3px solid white;
        width: 10px;
        height: 10px;  
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 775px) {
    .row { flex-direction: column; }
    form { width: 90vw; }
}