@import 'banner';

#portfolio {
    background-color: #dde0e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin: 15px;
        text-transform: uppercase;
        word-spacing: 5px;
        letter-spacing: 1px;
        font-family: 'Staatliches', cursive;
        font-size: 2em;
    }
    #websites-header { 
        color: #00968e; 
        span { 
            color: #006a9b; 
            &::after {
                content: "/";
                margin: 0 20px;
                color: rgb(204, 204, 204);
                font-style: italic;
                font-weight: normal;
                
            }
        }
        
    }
    #ps-header { 
        color: #4d00b8; 
        span { 
            color: #8000bb; 
            &::after {
                content: "/";
                margin: 0 20px;
                color: rgb(204, 204, 204);
                font-style: italic;
                font-weight: normal;
                
            }
        }
    }
    & > h4{
        text-align: center;
        color: white;
        opacity: 0.4;
        transition: 0.3s;
        &:hover {
            opacity: 0.9;
        }
    }
}



.card-wrapper{
    margin-bottom: 80px;
    box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
    border-radius: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
}

#ps-cards .image-container{
    background-color: rgb(153, 111, 187);
}

$color-angle: 35%;
$gradient-angle: 170deg;

.card {
	position: relative;
	height: 375px;
	width: 300px;
	margin: 25px;
	margin-bottom:50px;
	border: 1px solid #999;
	box-sizing: border-box;
	border-radius:5px;
    background-color: #eee;
    
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    
    &:hover {
        z-index: 1;
    }

}

@for $i from 1 through 11 {
    .card:nth-child(#{$i}n) {
        animation: fadeUp #{$i * 0.5}s ease-in-out forwards;
        
    }
}

.image-container{
    display: flex;
    justify-content: center;
    height: 150px;
    padding: 7px 7px 0px 7px;
    box-sizing: border-box;
    background-color: teal;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
    &:hover{
        animation-name: unclip;
        animation-duration: 0.3s; 
        clip-path: none;

        img {
            transition-delay: 0.3s;
            transform: translateY(-50px);
        }
    }

    img {
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 0px;
        transition: all 0.5s;
        &:hover {
            transform: scale(2,2) translateY(25px);         
            transition-delay: 0.3s;
        }
    }
}

.long {
    height: 200px;
}

.wide {
    width: 200px;
    &:hover {
        width: 270px;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes unclip {
    0%{ clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);}
    100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
}

.card-text {
	padding: 0px 5px 0px 7px;
    height: 100%;
    p { font-size: 90%; }
    a {
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 10px;
        padding: 7px;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #5033dc;
        color: white;
        text-decoration: none;
        cursor:pointer; 
        &:active{
            background-color: #2d1f73;
        }
        img{
            height:20px;
            width: 25px;
            object-fit: contain;
            filter: invert(100%);
            -webkit-filter: invert(100%);
        }
        span{
            transition: 0.5s;
            &::after {
                position: absolute;
                right: -30;
                content:'See code on Github';
                opacity: 0;
            }
        }
        &:hover span{
            padding-right: 160px;
            &::after{
                transition: 0.5s;
                transition-delay: 0.3s;
                opacity: 1;
                right: 10px;
            }
        }
    }
}

.more-to-come {
	background-image: url("../../images/wrench-hammer.svg");
	background-repeat: no-repeat;
	background-position: 50% 35%;
	background-size: contain;
	opacity: 0.7;
	font-size:1.2em;
    text-align: center;
    p {
        position: relative;
        top: 80%;
    }
}