.banner {
  display: inline-block;
  position: relative;
  font-family: 'Staatliches', cursive;
  font-size: 3em;
  color: teal;
  margin: 0;
  padding: 15px;
}

.banner::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 50%;
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 0px;
  width: 100%;
}

.banner::after {
  content: "";
  position: absolute;
  right: -100%;
  top: 50%;
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 0px;
  width: 100%;
}

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio > hr {
  margin: 0px 20px 0px 20px;
  border-radius: 50%;
  border-color: #696969;
}

#portfolio h3 {
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
  font-family: 'Staatliches', cursive;
  font-size: 2em;
}

#portfolio > h4 {
  text-align: center;
  color: white;
  opacity: 0.4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#portfolio > h4:hover {
  opacity: 0.9;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
}

.card {
  position: relative;
  height: 375px;
  width: 300px;
  margin: 25px;
  margin-bottom: 50px;
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: #eee;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.card:hover {
  z-index: 1;
}

.card:nth-child(1n) {
  -webkit-animation: fadeUp 0.5s ease-in-out forwards;
          animation: fadeUp 0.5s ease-in-out forwards;
}

.card:nth-child(2n) {
  -webkit-animation: fadeUp 1s ease-in-out forwards;
          animation: fadeUp 1s ease-in-out forwards;
}

.card:nth-child(3n) {
  -webkit-animation: fadeUp 1.5s ease-in-out forwards;
          animation: fadeUp 1.5s ease-in-out forwards;
}

.card:nth-child(4n) {
  -webkit-animation: fadeUp 2s ease-in-out forwards;
          animation: fadeUp 2s ease-in-out forwards;
}

.card:nth-child(5n) {
  -webkit-animation: fadeUp 2.5s ease-in-out forwards;
          animation: fadeUp 2.5s ease-in-out forwards;
}

.card:nth-child(6n) {
  -webkit-animation: fadeUp 3s ease-in-out forwards;
          animation: fadeUp 3s ease-in-out forwards;
}

.card:nth-child(7n) {
  -webkit-animation: fadeUp 3.5s ease-in-out forwards;
          animation: fadeUp 3.5s ease-in-out forwards;
}

.card:nth-child(8n) {
  -webkit-animation: fadeUp 4s ease-in-out forwards;
          animation: fadeUp 4s ease-in-out forwards;
}

.card:nth-child(9n) {
  -webkit-animation: fadeUp 4.5s ease-in-out forwards;
          animation: fadeUp 4.5s ease-in-out forwards;
}

.card:nth-child(10n) {
  -webkit-animation: fadeUp 5s ease-in-out forwards;
          animation: fadeUp 5s ease-in-out forwards;
}

.card:nth-child(11n) {
  -webkit-animation: fadeUp 5.5s ease-in-out forwards;
          animation: fadeUp 5.5s ease-in-out forwards;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  padding: 7px 7px 0px 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: teal;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
}

.image-container:hover {
  -webkit-animation-name: unclip;
          animation-name: unclip;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-clip-path: none;
          clip-path: none;
}

.image-container:hover img {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px 0px;
          box-shadow: 2px 2px 2px 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.image-container img:hover {
  -webkit-transform: scale(2, 2) translateY(25px);
          transform: scale(2, 2) translateY(25px);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.long {
  height: 200px;
}

.wide {
  width: 200px;
}

.wide:hover {
  width: 270px;
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes unclip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes unclip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.card-text {
  padding: 0px 5px 0px 7px;
  height: 100%;
}

.card-text p {
  font-size: 90%;
}

.card-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 7px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #5033dc;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.card-text a:active {
  background-color: #2d1f73;
}

.card-text a img {
  height: 20px;
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.card-text a span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-text a span::after {
  position: absolute;
  right: -30;
  content: 'See code on Github';
  opacity: 0;
}

.card-text a:hover span {
  padding-right: 160px;
}

.card-text a:hover span::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 1;
  right: 10px;
}

.more-to-come {
  background-image: url("../../images/wrench-hammer.svg");
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: contain;
  opacity: 0.7;
  font-size: 1.2em;
  text-align: center;
}

.more-to-come p {
  position: relative;
  top: 80%;
}

h2 {
  margin-top: 30px;
  text-align: center;
  color: #d4d4d4;
}
/*# sourceMappingURL=portfolio.css.map */