@import 'banner';

#resume{
    text-align: center;
    width: 100vw;
    height: 100vh;
    embed {
        height: 100%;
        width: 100%;
    }
    a {
        margin: 5px;
        color: cyan;
    }
}

@media screen and (max-width: 1000px) {
	#resume { height: 70vh;}
}