@import 'banner';

#resume{
	text-align: center;
    flex-grow: 1;
    embed {
        height: 100%;
        width: 100%;
    }
    a {
        margin: 5px;
    }
}

@media screen and (max-width: 1000px) {
	#resume { height: 70vh;}
}