$delay: 0.3s;

@mixin animate {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#startup{
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	color: #ccc;
    font-family: 'Staatliches', cursive;

    svg {       
        text {
            fill: none;
            stroke: lightblue;
            stroke-dasharray: 0,100;
            font-size: 4em;
            font-weight: bold;
            letter-spacing: 3px;
            animation-name: nameAnimation;
            animation-duration: 1.9s;
            animation-delay: $delay;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
        }
    }    

    h2 {
        font-size: 1em;
        margin-top:0;
        letter-spacing: 2px;

        @include animate;
        animation-delay: $delay*7;
    }
    label {
        background-color: white;
        color: black;
        padding: 10px;
        border-radius: 30px;
        cursor: pointer;
        @include animate;
        animation-delay: $delay*7;
        transition: 0.5s;
        &:active {
            background-color: #d2d2d2;
            color: black;
        }
        &:hover span { 
            padding-right: 15px; 
            &::after {
                opacity: 1;
                right: 0;
            }
        }
        
        span {
            position: relative;
            transition: 0.5s;
            &::after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes nameAnimation {
    0%{
        stroke-dasharray: 0,100;
        fill: #333;
    }

    60% {
        stroke-dasharray: 100,0;
        fill: #333;
    }
    70% {
        stroke-dasharray: 100,0;
        fill: #333;
    }
    100%{
        fill: lightblue;
    }
}