#banner-container{
	display: none;
	height: 110px;
	position: absolute;
	top: 70px;
	width: 100%;

}

#banner-container img{
	object-fit: cover;
	object-position: 50% 49%;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1000px){
	#banner-container { display: block;} 
}