#contact{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
}

#contact a{
	text-align: center;
	color: white;
	margin: 0 20px 20px 20px;
	text-decoration: none;
}

#contact a:hover{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

#contact a:active {
	-webkit-filter: brightness(110%);
	filter: brightness(110%);
}

#contact a span {
	text-decoration: underline;
}

#contact a img {
	max-width: 12vw;
		padding: 50px;
}

@media screen and (max-width: 1000px ){
	#contact { margin-top: 31vh; }
	#contact a {min-width: 25%;}
}

@media screen and (max-width: 775px) {
	#contact {
		flex-direction: column;
		margin-top: 130px;
	}
	#contact a { width:300px; }
	#contact a img { width: 100px; padding:10px; padding-top:30px; }
}

.green {
	background-color: rgb(1, 181, 22);
}

.red{
	background-color: rgb(204, 42, 40);
}

.blue{
	background-color: rgb(1, 122, 179);
}