body {
	margin: 0;
	padding: 0;
	background-color: #333333;
	font-family: "Open Sans", sans-serif;
}

nav {
	position: sticky;
	top: 0px;
	height: 70px;
	background-color: #202020;
	text-align: center;
	z-index: 2;
}

#icon {
	position: absolute;
	top: 8px;
	left: 8px;
	cursor: default;
}

#icon #face-logo{
	position: relative;
	height: 55px;
	border: 3px solid #dfdfdf;
	border-radius: 50%;
	box-sizing: border-box;
}

#contact-info {
	position: absolute;
	top: 23px;
	right: 30px;
}

#contact-info a{
	color:white;
	text-decoration: none;
	letter-spacing: 2px;
}

#contact-info a:hover{
	border-bottom: 2px solid white;
}

#contact-info a:first-child{
	margin-right: 50px;
} 

#desktop-nav{
	display: flex;
	flex-direction: column;
	position: sticky;
	top:70px;
	left:0;
	margin: 0;
	padding: 0;
	padding-top:5px;
	height: 90vh;
	list-style: none;
	background-color: #0e0e0e;
	border-right: 2px solid black;
}

#desktop-nav li {
	position: static;
	width: 100%;
}

#desktop-nav button {
	background: none;
	color: white;
	height: 10vh;
	width: 15vw;
	margin: 0 auto;
	cursor: pointer;
	border: none;
	outline: none;
}

#nav-selected{
	height: 60vh;
}

#nav-selected button img{
	height: 59vh;
}

#nav-selected img {
	transition: height 0.5s ease-out;
}

li button img {
	height: 90%;
	width: 100%;
	object-fit: cover;
	filter: grayscale(1);
	-webkit-transition: 800ms ease-out;
	-moz-transition: 800ms ease-out;
	-o-transition: 800ms ease-out;
	-ms-transition: 800ms ease-out;
	transition: 800ms ease-out;
	opacity: 0.8;
}

li button img:hover {
	opacity: 1;
	transition: 200ms;
}

li button img:active {
	filter: grayscale(0);
	filter: brightness(110%);
}

.color {
	filter: grayscale(0);
}

#dropdown {
	color: white;
	display: none;
	position: absolute;
	top:0px;
	right:0px;

	padding-top: 10px;
	height: 90%;
	width: 70px;

	font-weight: bold;
	font-size: 2em;
}

#dropdown ul {
	height:0;
	overflow: hidden;

	position: absolute;
	right:0;
	top:70px;
	width: 40vw;
	padding: 0;
	margin: 0;
	
	z-index: 1;

	list-style: none;
	background-color: #2b2b2b;

	-webkit-transition: height 0.5s ease-out;
	-moz-transition: height 0.5s ease-out;
	-o-transition: height 0.5s ease-out;
	-ms-transition: height 0.5s ease-out;
	transition: height 0.5s ease-out;
}

#dropdown:hover ul {
	
    height:90vh;	
}

#dropdown li {
	width: 100%;
	margin-top: 2px;
}

#dropdown button {
	background: none;
	color: white;
	height: 15vh;
	width: 100%;
	cursor: pointer;
	border:  none;
	outline: none;
}

@media screen and (max-width: 775px) {
	#desktop-nav { display: none; }
	#contact-info{ display:none; }
	#nav-selected { height: 30vh; }
	#nav-selected button img{ height: 29vh; }
	#dropdown {display: inline-block;}
	main{ flex-direction: column; }
}

main {
	margin: 0;
	padding:0;
	display: flex;
}

#banner-container{
	margin:0;
	padding: 0;
}

#banner{
	position: sticky;
	left:0;
	top:10vh;
	height: 90vh;
}