#desktop-nav{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: sticky;
	top:70px;
	left:0;
	margin: 0;
	padding: 0 0.5vw 0 0.5vw;
	height: 90vh;
	list-style: none;
	background-color: #0e0e0e;
	box-sizing: border-box;
}

#desktop-nav li {
	width: 100%;
}

#desktop-nav button {
	background: none;
	height: 12vh;
	width: 250px;
	margin: 0 auto;
	cursor: pointer;
	border: none;
	outline: none;
}

li button img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	-webkit-transition: 800ms ease-out;
	transition: 800ms ease-out;
	opacity: 0.8;
}

li button img:hover {
	opacity: 1;
	
	-webkit-transition: 200ms ease-out;
	-moz-transition: 200ms ease-out;
	-o-transition: 200ms ease-out;
	-ms-transition: 200ms ease-out;
	transition: 200ms;
}

li button img:active {
	-webkit-filter: grayscale(0);
	-webkit-filter: brightness(110%);
	filter: grayscale(0);
	filter: brightness(110%);
}

.color {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#dropdown {
	color: white;
	display: none;
	position: absolute;
	top:0px;
	right:0px;

	padding-top: 10px;
	height: 90%;
	width: 70px;

	font-weight: bold;
	font-size: 2em;
}

#dropdown ul {
	height:0;
	overflow: hidden;

	position: absolute;
	right:0;
	top:70px;
	width: 40vw;
	padding: 0;
	margin: 0;
	
	z-index: 1;

	list-style: none;
	background-color: #2b2b2b;

	-webkit-transition: height 0.5s ease-out;
	-moz-transition: height 0.5s ease-out;
	-o-transition: height 0.5s ease-out;
	-ms-transition: height 0.5s ease-out;
	transition: height 0.5s ease-out;
}

#dropdown:hover ul {
    height:90vh;	
}

#dropdown li {
	width: 100%;
	margin-top: 2px;
}

#dropdown button {
	background: none;
	height: 15vh;
	width: 100%;
	cursor: pointer;
	border:  none;
	outline: none;
}

#nav-selected{
	height: 49vh;
}

#nav-selected button img{
	height: 48vh;
}

#nav-selected img {
	-webkit-transition: height 0.5s ease-out;
	transition: height 0.5s ease-out;
}

@media screen and (max-width: 1000px) {
	#desktop-nav { display: none; }
	#contact-info{ display:none; }
	#nav-selected { height: 30vh; }
	#nav-selected button img{ height: 29vh; }
	#dropdown {display: inline-block;}
}