#resume{
	padding: 5vh;
	text-align: center;
	height: 75vh;
	max-width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#resume a{
	display: block;
	text-decoration: none;
	color: lightblue;
}

#resume a:active {
	color: blue;
}

#resume embed {
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 775px) {
	#resume embed { max-width: 100%; }
}