#startup{
	text-align: center;
	margin: 0 auto;
	margin-top: 70px;
	color: #ccc;
}

#startup img {
	width: 300px;
	height: 300px;
}

#startup p {
	position: absolute;
	top: 5px;
	left: 70px;
	z-index: 2;
}