#startup{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 70px;
	height: 70vh;
	color: #ccc;
}

#startup img {
	width: 300px;
	height: 300px;
}