#startup{
	text-align: center;
	margin: 0 auto;
	margin-top: 70px;
	color: #ccc;
	font-family: 'Staatliches', cursive;
}

#startup h1{
	font-size: 4em;
	letter-spacing: 5px;
	margin-bottom:0;
}

#startup h1 span{
	color: green;
}

#startup h2 {
	font-size: 1em;
	margin-top:0;
	letter-spacing: 2px;
}

#startup label{
	border: 2px solid white;
	padding: 7px;
	border-radius: 30px;
	cursor: pointer;
}

#startup label:active{
	background-color: #d2d2d2;
	color: black;
}